---
import Layout from "~/layouts/Layout.astro";
import Person from "~/components/person.astro";
import cristiana from "~/assets/pg/cristiana.webp";
import arvid from "~/assets/pg/arvid.webp";
import placeholder from "~/assets/pg/placeholder.webp";
import { Image } from "astro:assets";

const projectGroup = [
  {
    name: "Arvid Nygren",
    position: "Project Manager",
    image: arvid,
    linkedin: "https://www.linkedin.com/in/arvid-nygren-b049591a2/",
    email: "arvid@teknikfokus.se",
  },
  {
    name: "Cristiana Adelina Onufriciuc",
    position: "Project Manager",
    image: cristiana,
    linkedin:
      "https://www.linkedin.com/in/cristiana-adelina-onufriciuc-3465b520b/",
    email: "cristiana@teknikfokus.se",
  },
  {
    name: "Anton Strömblad",
    position: "Recruitment Manager",
    image: placeholder,
    linkedin: "",
    email: "anton@teknikfokus.se",
  },
  {
    name: "Mina Musebes",
    position: "Logistics Manager",
    image: placeholder,
    linkedin: "",
    email: "mina@teknikfokus.se",
  },
  {
    name: "Sandra Christoffersen",
    position: "Logistics Manager",
    image: placeholder,
    linkedin: "",
    email: "sandra@teknikfokus.se",
  },
  {
    name: "Huda Shahin",
    position: "Event Manager",
    image: placeholder,
    linkedin: "https://www.linkedin.com/in/huda-shahin-99019a245/",
    email: "huda@teknikfokus.se",
  },
  {
    name: "Vanessa Nugaela",
    position: "Event Manager",
    image: placeholder,
    linkedin: "https://www.linkedin.com/in/vanessa-n-94819a247/",
    email: "vanessa@teknikfokus.se",
  },
  {
    name: "Amir Rezai",
    position: "Business Manager",
    image: placeholder,
    linkedin: "",
    email: "amir@teknikfokus.se",
  },
  {
    name: "Erfan Azad",
    position: "Business Manager",
    image: placeholder,
    linkedin: "",
    email: "erfan@teknikfokus.se",
  },
  {
    name: "Nimat Shihabi",
    position: "Business Manager",
    image: placeholder,
    linkedin: "",
    email: "nimat@teknikfokus.se",
  },
  {
    name: "Axel Hallefält",
    position: "Financial Manager",
    image: placeholder,
    linkedin: "",
    email: "axel@teknikfokus.se",
  },
  {
    name: "Chrysella Marlyn",
    position: "Marketing Manager",
    image: placeholder,
    linkedin: "",
    email: "chrysella@teknikfokus.se",
  },
  {
    name: "Isak Kallini",
    position: "IT Manager",
    image: placeholder,
    linkedin: "https://www.linkedin.com/in/isak-kallini/",
    email: "isak@teknikfokus.se",
  },
  {
    name: "Theodor Fransson",
    position: "IT Manager",
    image: placeholder,
    linkedin: "",
    email: "theodor@teknikfokus.se",
  },
];
---

<Layout>
  <!-- TODO: update this image once it is taken
  <Image
    class="max-h-[60vh] w-full object-cover"
    src={group}
    alt="Project Group"
  />
   -->
  <div class="mx-auto my-8 max-w-prose py-8">
    <section>
      <h2 class="mb-8 text-balance text-center font-extrabold text-6xl">
        Project Group
      </h2>
      <div class="grid grid-cols-1 gap-20 md:grid-cols-2">
        {
          projectGroup.map((person) => (
            <Person
              name={person.name}
              position={person.position}
              image={person.image}
              linkedin={person.linkedin}
              email={person.email}
            />
          ))
        }
      </div>
    </section>
  </div>
</Layout>
