---
import type { ImageMetadata } from "astro";
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";

interface Props {
  name: string;
  position: string;
  image: ImageMetadata;
  linkedin: string;
  email: string;
}
const { name, position, image, linkedin, email } = Astro.props;
---

<div class="flex flex-col items-center">
  <Image
    src={image}
    alt={name}
    class="size-60 rounded-full object-cover object-top"
  />
  <p class="mt-6 text-center font-bold text-xl">{name}</p>
  <p class="mb-4 font-light text-offset text-sm">{position}</p>
  <div class="flex items-center gap-8">
    {
      linkedin && (
        <a href={linkedin}>
          <Icon name="fa-brands:linkedin" class="size-6 hover:text-primary" />
        </a>
      )
    }

    <a href={"mailto:" + email}>
      <Icon name="mdi:email" class="size-6 hover:text-primary" />
    </a>
  </div>
</div>
